
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/confetti.css">
<div id="content">

    <div class="buttonContainer" style="display: none">
      <button id="stopButton">Stop Confetti</button>
      <button id="startButton">Drop Confetti</button>
    </div>
    <img src="data:image/jpeg;base64,{{hi|safe}}" style="top:0;left:0">
  </div>
  
  <canvas id="canvas"></canvas>
  

  <script src="../static/confetti.js">
  </script>