<!DOCTYPE html>
<link rel="Stylesheet" href="/static/glow.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
</script>

<body>
    <h1 style="text-align: center; font-size: 80px" class="glow"><span style="color: #ff6600;">Brainy builders live
            packaging test</span></h1>
    <br><br>
    <p style="font-size: 40px">A dynamic site for tracking packages and addresses the challenge of packaging waste and changing shipping
        destinations. We are designing a corrugated plastic reusable box that has a fixed QR code that contains package
        information.</p>
    <br><br><br><br><br><br><br>

    <a href="/create/package" class="btn btn-outline-dark btn-lg align-self-center text-center"" role="button" style="  display: flex;
    align-items: center;justify-content: center; text-align: center;float:unset;width:25%">create/override package</a>
</body>