<!DOCTYPE html>
<html lang="en">
    <head>
        <title>create package</title>
        <link rel="stylesheet" href="/static/slider.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <style>
            h3 {font-size: 70px;}  label {font-size: 40px; color:darkslategrey} 
        </style>
        <script>

        </script>
    </head>
    <body>
        {% if notfound %}
        <h3>your package currenly does not exist, this is a big problem, add the pacage if this url is frm the QR code you scanned otherwise click <a href="https://www.youtube.com/watch?v=QtBDL8EiNZo">here</a></h3>
        {% else %}
        <h3>Hello, make a package and a qrcode will be generated</h3>
        {% endif %}
        <form method="POST" action="/create/package">
            <label for="address">full address(address street city, state country zip code)</label>
            <input type="text" name="adress" required>
            <br>
            

        <input type="hidden" name="id" id="id">
        <br>
        overrride package
        <label class="switch">
            
            
        <input type="checkbox" id="check" name="check" class="slider round">
        <span class="slider round"></span>
    </label>
        
        <br>
        <label for="override" id="ugly" style="display: none">id:</label>
        <input type="number" id="override" name="override" style="display: none;">
        <input type="submit" name="submit">
        </form>
        
    </body>
    
</html>
<script>
            
    var v = document.URL.split("/")
    document.getElementById("id").value = v[v.length - 1]

    function cookiemonster() {
        checked = document.getElementById("check").checked
        if (checked) {
            document.getElementById("override").style.display = "block";
            document.getElementById("ugly").style.display = "block";
        } else {
            document.getElementById("override").style.display = "none";
            document.getElementById("ugly").style.display = "none";
        }
    }
    setInterval(cookiemonster, 1000)
</script>