<!DOCTYPE html>
<link rel="stylesheet" href="/static/timeline.css">
<table border="1">
    <tr>
        
        <th>id</th>
        <th>time shipped</th>

        <th>shipping location</th>
    </tr>
    <tr>
       <td>{{info[0]}}</td> 
       <td>{{info[1]}}</td>
       <td>{{info[3]}}</td>
    </tr>
</table>
<h4>add location</h4>
<form method="post" action="/update/{{info[0]|safe}}">
    <input type="text" name="newlocation" required="true">
    <input type="submit" value="add stop">
</form> 
<br>
<div class="timeline">
    {%for i in locations%}
    <div class="container right">
        <div class="content">
          <h2>{{i["date"]}}</h2>
          <p>{{i["location"]}}</p>
        </div>
      </div>
    {%endfor %}
</div>
